<h1>the Home to your Tickets!</h1>
<section>
    <div class="example-label">Extended Fab</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab extended >
            <mat-icon>favorite</mat-icon>
            Basic
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended disabled>
            <mat-icon>favorite</mat-icon>
            Disabled
          </button>
        </div>
        <div class="example-button-container">
          <a mat-fab extended routerLink="/tickets">
            <mat-icon>favorite</mat-icon>
            tickets
          </a>
        </div>
      </div>
    </div>
  </section>
  